.dashboard {
  min-height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  padding: 40px;
  color: white;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 50px;
}

.dashboard-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.dashboard-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1f2937;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin-bottom: 20px;
  color: #facc15;
}

/* Delete card special color */
.delete-card {
  border-left: 5px solid #ef4444;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.btn-add {
  background-color: #22c55e;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #16a34a;
}

.btn-delete {
  background-color: #ef4444;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #dc2626;
}

