.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #111;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav a:hover {
  color: orange;
}
